::-webkit-scrollbar {
  width: 10px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border: 2px solid white;
  border-radius: 5px;
}

[v-cloak] {
  display: none;
}

* {
  font-family: "Segoe UI", -apple-system, ".SFNSText-Regular", "San Francisco",
    "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}

html {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 20px;
  min-width: 700px;
  cursor: default;
}

#example {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

#main {
  display: flex;
  flex: 3 3 70%;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding-right: 20px;
}

#filter {
  display: inline-block;
  flex: 0 0 35px;
}

ul.example-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  -webkit-padding-start: 0 !important;
  padding-inline-start: 0;
  position: relative;
}

ul.example-list > li {
  display: flex;
  width: 320px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: left;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.15);
}

ul.example-list > li:hover {
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

ul.example-list > li > .header {
  height: 185px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#featured > .difficulty,
ul.example-list > li > .header > .difficulty {
  position: absolute;
  left: 14px;
  top: 12px;
  padding: 1px 14px;
  color: white;
  border-radius: 2px;
  font-size: 11px;
  font-weight: 700;
  z-index: 10;
}

#featured > .issue,
ul.example-list > li > .header > .issue {
  position: absolute;
  right: 14px;
  top: 12px;
  padding: 1px 14px;
  color: white;
  border-radius: 2px;
  font-size: 11px;
  font-weight: 700;
  z-index: 10;
  cursor: pointer;
  display: none;
}

#featured:hover > .issue,
ul.example-list > li:hover > .header > .issue {
  display: block;
}

#featured > .issue.color,
ul.example-list > li > .header > .issue.color {
  background: rgba(24, 24, 24, 0.5);
}

#featured > .issue:before,
ul.example-list > li > .header > .issue:before {
  content: "REPORT ISSUES";
}

#featured > .difficulty.easy,
ul.example-list > li > .header > .difficulty.easy {
  background: rgb(143, 195, 31);
}

#featured > .difficulty.medium,
ul.example-list > li > .header > .difficulty.medium {
  background: rgb(249, 143, 64);
}

#featured > .difficulty.hard,
ul.example-list > li > .header > .difficulty.hard {
  background: rgb(240, 90, 45);
}

#featured > .difficulty.easy:before,
ul.example-list > li > .header > .difficulty.easy:before {
  content: "EASY";
}

#featured > .difficulty.medium:before,
ul.example-list > li > .header > .difficulty.medium:before {
  content: "MEDIUM";
}

#featured > .difficulty.hard:before,
ul.example-list > li > .header > .difficulty.hard:before {
  content: "HARD";
}

ul.example-list > li > .header > img {
  width: 100%;
}

ul.example-list > li > .body {
  border-top: none;
  padding: 20px;
}

ul.example-list > li > .body > h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 500;
  color: #333;
}

ul.example-list > li > .body > .description {
  font-size: 15px;
  height: 58px;
  padding-bottom: 20px;
  color: #333;
  overflow: hidden;
}

ul.example-list > li > .body > .services {
  height: 34px;
}

ul.example-list > li > .body > .services > img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

#featured > .body > .buttons > button,
ul.example-list > li > .body > .buttons > button {
  padding: 8px 15px;
  cursor: pointer;
  outline: none;
  font-size: 15px;
}

#featured > .body > .buttons > button {
  background: #069;
  color: white;
  border: 1px solid #069;
}

ul.example-list > li > .body > .buttons {
  text-align: right;
}

ul.example-list > li > .body > .buttons > button {
  background: inherit;
  color: #069;
  border: 1px solid #069;
}

#featured > .body > .buttons > button:hover {
  background: #66a3c2;
  color: white;
  border: 1px solid #66a3c2;
}

ul.example-list > li > .body > .buttons > button:hover {
  background: #069;
  color: white;
  border: 1px solid #069;
}

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
  color: blue;
}

aside {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 30%;
  vertical-align: top;
  color: #333;
  text-align: left;
}

aside h1 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 2px solid #666;
  color: #666;
}

aside .section {
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 15px;
}

aside .section > img {
  max-width: 100%;
}

.quick-links > ul.links {
  padding: 0;
  margin: 0;
}

.quick-links > ul.links > li {
  list-style: none;
  line-height: 2;
  cursor: pointer;
  font-size: 15px;
}

.quick-links > ul.links > li:hover {
  text-decoration: underline;
  color: blue;
}

.blog {
  margin-bottom: 20px;
}

.blog > ul {
  margin: 0;
  padding: 0;
}

.blog > ul > li {
  list-style: none;
  margin-bottom: 10px;
}

.blog > ul > li:last-child {
  border: none;
}

.blog > ul > li > h2 {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
  cursor: pointer;
}

.blog > ul > li > h2:hover {
  text-decoration: underline;
}

.blog > ul > li > p {
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  margin-top: 5px;
  display: none;
}

.blog > ul > li:first-child > p {
  display: block;
}

.blog > ul > li > .date {
  font-size: 13px;
  margin: 0;
  color: #666;
}

.info table td {
  padding-right: 10px;
}

.badge span {
  display: inline-block;
  padding-right: 20px;
}

#featured {
  width: 100%;
  height: 380px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.15);
}

#featured:hover {
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

#featured:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  z-index: 1;
}

#featured > img {
  min-width: 100%;
  min-height: 100%;
}

ul.example-list > li:hover > .header > img,
#featured:hover > img {
  opacity: 0.8;
}

#featured > .body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px 20px 20px 20px;
  text-align: left;
  z-index: 10;
  color: white;
}

#featured > .body > h2 {
  font-weight: 400;
}

#featured > .body > .description {
  margin-bottom: 20px;
  max-width: 500px;
  max-height: 58px;
}

.github:before,
.feed:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
  margin-right: 5px;
  opacity: 0.5;
}

.github:hover:before,
.feed:hover:before {
  opacity: 0.8;
}

.github:before {
  content: url(images/github.svg);
}

.feed:before {
  content: url(images/feed.svg);
}

.tutorial {
  float: left;
  padding: 8px 0;
  color: #069;
}

.example-list > li:hover .example-link {
  text-decoration: underline;
}

.example-link {
  cursor: pointer;
}

#filter {
  margin-bottom: 30px;
  min-width: 660px;
}

.elist-item {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-flow: column;
  flex: 0 0 320px;
}

.elist-enter,
.elist-leave-to {
  opacity: 0;
  transform: translateX(-320px);
}

.elist-leave-active {
  position: absolute;
  opacity: 0;
}

@media (min-width: 4096px) {
  body:after {
    content: "There's more to the picture than meets the eye.";
    position: fixed;
    display: block;
    font-size: 12px;
    left: 100%;
    top: 0;
    color: gray;
    transform: rotate(90deg);
    transform-origin: 0 0;
    white-space: nowrap;
    padding: 5px 15px;
  }
}

@media (min-width: 1420px) and (max-width: 1759px) {
  #main.no-aside {
    width: 1360px;
  }
}

@media (min-width: 1080px) and (max-width: 1419px) {
  #main.no-aside {
    width: 1020px;
  }
}

@media (min-width: 740px) and (max-width: 1079px) {
  #main.no-aside {
    width: 680px;
  }
}

@media (max-width: 739px) {
  #main.no-aside {
    width: 340px;
  }
}

@media (min-width: 1720px) and (max-width: 2059px) {
  #main:not(.no-aside) {
    width: 1360px;
  }
}

@media (min-width: 1380px) and (max-width: 1719px) {
  #main:not(.no-aside) {
    width: 1020px;
  }
}

@media (min-width: 1040px) and (max-width: 1379px) {
  #main:not(.no-aside) {
    width: 680px;
  }
}

@media (max-width: 1039px) {
  #main:not(.no-aside) {
    width: 340px;
  }
}

/* Dark and high contrast Theme */
.vscode-dark input,
.vscode-high-contrast input,
input {
  color: white;
}

.vscode-dark h2 .vscode-high-contrast h2 {
  color: #999999;
}

.vscode-dark aside h1,
.vscode-high-contrast aside h1 {
  color: #d4d4d4;
}

.vscode-dark aside,
.vscode-high-contrast aside {
  color: #999999;
}

.vscode-dark .v-select .dropdown-toggle,
.vscode-high-contrast .v-select .dropdown-toggle {
  border: 1px solid #999999;
}

.vscode-dark input::placeholder,
.vscode-high-contrast input::placeholder {
  color: #999999;
}

.vscode-dark .v-select .selected-tag,
.vscode-high-contrast .v-select .selected-tag {
  color: white;
}

.vscode-dark .v-select .dropdown-toggle .clear,
.vscode-high-contrast .v-select .dropdown-toggle .clear {
  color: #999999;
}

.vscode-dark .v-select .dropdown-menu,
.vscode-high-contrast .v-select .dropdown-menu {
  background-color: #333333;
}

.vscode-dark .v-select .dropdown-menu .active > a,
.vscode-high-contrast .v-select .dropdown-menu .active > a {
  color: white;
  background-color: #636363;
}

.vscode-dark .v-select li > a,
.vscode-high-contrast .v-select li > a {
  color: #999999;
}

.vscode-dark .v-select .open-indicator:before,
.vscode-high-contrast .v-select .open-indicator:before {
  border-color: #999999;
}

.vscode-dark ul.example-list > li > .body > h2,
.vscode-high-contrast ul.example-list > li > .body > h2 {
  color: #d4d4d4;
}

.vscode-dark ul.example-list > li > .body > .buttons > button,
.vscode-high-contrast ul.example-list > li > .body > .buttons > button {
  background: #069;
  color: white;
  border: 1px solid #069;
}

.vscode-dark ul.example-list > li > .body > .buttons > button:hover,
.vscode-high-contrast ul.example-list > li > .body > .buttons > button:hover {
  background: white;
  color: #069;
  border: 1px solid #069;
}

.vscode-dark .github:before,
.vscode-high-contrast .github:before {
  content: url(images/github.dark.svg);
}

.vscode-dark .feed:before,
.vscode-high-contrast .feed:before {
  content: url(images/feed.dark.svg);
}

.vscode-dark .tutorial,
.vscode-high-contrast .tutorial {
  color: #22a7ff;
}

.vscode-dark ul.example-list > li > .body > .description,
.vscode-high-contrast ul.example-list > li > .body > .description {
  color: #999999;
}

.vscode-dark .link:hover {
  color: #22a7ff;
}

.vscode-dark .quick-links > ul.links > li:hover,
.vscode-high-contrast .quick-links > ul.links > li:hover {
  text-decoration: underline;
  color: #22a7ff;
}

.vscode-dark ul.example-list > li,
.vscode-high-contrast ul.example-list > li {
  box-shadow: 0px 1px 3px 0 rgba(255, 255, 255, 0.15);
}

.vscode-dark ul.example-list > li:hover {
  box-shadow: 0px 1px 3px 0 rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.1);
}

.vscode-high-contrast::-webkit-scrollbar-thumb,
.vscode-dark::-webkit-scrollbar-thumb {
  border: 0;
  background-color: rgb(66, 66, 66);
  border-radius: 0;
}

.vscode-dark::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.01);
}
