<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{root}}/assets/deployment/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{root}}/assets/deployment/bootstrap-vue.min.css">
    <link rel="stylesheet" type="text/css" href="{{root}}/assets/deployment/style.css" />
</head>

<body>
    <div id="app" class="wrapperc" v-cloak>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="height: 60px;">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <a class="btn btn-outline-primary" id="pagesave" @click="displaysys=~displaysys">Edit System
                        Properties</a>
                </ul>
                <a class="btn btn-outline-primary" id="pagesave" @click="pagesave">Apply</a>
            </div>
        </nav>
        <b-modal ref="routeattr" @ok="popsave" @cancel="popclose" :data-newline="newline" title="Routing message" :no-close-on-backdrop="true" :hide-header-close="true">
            <div class="form-group was-validated">
                <label for="txt_departmentname">Output<em style="color: red;">*</em></label>
                <input type="text" class="form-control" name="txt_output" v-model="outputname" required />
                <div class="invalid-feedback">Please fill in output name, or the routing will be deleted.
                </div>
            </div>
            <div class="form-group was-validated">
                <label for="txt_departmentname">Input<em style="color: red;">*</em></label>
                <input type="text" class="form-control" name="txt_input" v-model="inputname" required />
                <div class="invalid-feedback">Please fill in input name, or the routing will be deleted.
                </div>
            </div>
            <div class="form-group">
                <label for="txt_departmentname">Condition</label>
                <input type="text" class="form-control" name="txt_cdt" v-model="cdt">
            </div>
        </b-modal>
        <b-modal ref="routedelete" @ok="deletecon" @cancel="nodeletecon" title="Notification" :no-close-on-backdrop="true" :hide-header-close="true">
            <p>The routing will be deteled. Click Yes to continue the deleting operation, or click No to exit.
            </p>
        </b-modal>
        <b-modal ref="mdyUnsave" @ok="mdysave" @cancel="mdydel" title="Notification" :no-close-on-backdrop="true" :hide-header-close="true">
            <p>Want to save your changes?</p>
        </b-modal>
        <div class="wrapperr">
            <nav v-if="displaysys" class="property" style="padding-right: 20px">
                <nav id="hub-property" class="sidebar" style="display: block;">
                    <div class="sidebar-header">
                        <h4>System Properties</h4>
                    </div>
                    <ul>
                        <li class="active">
                            <a>EdgeHub</a>
                            <ul>
                                <li style="padding-right: 12px;padding-left:12px; padding-bottom: 12px;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Name</span>
                                        </div>
                                        <input type="text" class="form-control" value="EdgeHub" aria-label="Username" aria-describedby="basic-addon1" readonly="readonly">
                                    </div>
                                </li>
                                <li style="padding-right: 12px;padding-left:12px; padding-bottom: 12px;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Image</span>
                                        </div>
                                        <input type="text" class="form-control" id="hubImg" v-model="hubimg" @change="syschange" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </li>
                                <li style="padding-right: 12px;padding-left:12px; padding-bottom: 12px;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="hubStatus">Desired
                                                Status</label>
                                        </div>
                                        <select id="hubStatus" v-model="hubstatus" @change="syschange" class="custom-select">
                                            <option v-for="item in statuslist">{{ item }}</option>
                                        </select>
                                    </div>
                                </li>
                                <li style="padding-right: 12px;padding-left:12px; padding-bottom: 12px;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="hubPolicy">Restart Policy</label>
                                        </div>
                                        <select id="hubPolicy" v-model="hubpolicy" @change="syschange" class="custom-select">
                                            <option v-for="item in policylist">{{ item }}</option>
                                        </select>
                                    </div>
                                </li>
                                <li style="padding-right: 12px;padding-left:12px; padding-bottom: 12px;">
                                    <label for="basic-url" style="font-size: 0.7em;">Create Options</label>
                                    <div class="input-group">
                                        <textarea class="form-control" id="hubCo" v-model="hubco" @change="syschange" rows="3"></textarea>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li class="active">
                            <a>edgeAgent</a>
                            <ul>
                                <li style="padding-right: 12px;padding-left:12px; padding-bottom: 12px;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Name</span>
                                        </div>
                                        <input type="text" class="form-control" id="agentName" value="EdgeAgent" aria-label="Username" aria-describedby="basic-addon1" readonly="readonly">
                                    </div>
                                </li>
                                <li style="padding-right: 12px;padding-left:12px; padding-bottom: 12px;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Image</span>
                                        </div>
                                        <input type="text" class="form-control" id="agentImg" v-model="agentimg" @change="syschange" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="syssave" @click="syssave()">Save</button>
                        <button type="button" class="btn btn-primary" id="syssave" @click="sysdiscard()">Discard</button>
                    </div>
                </nav>
            </nav>
            <main id="canvas" ref="canvas">
                <!-- <div class='module'>
                    <a class='targetarea'></a>
                    <p class='textarea'>sample module</p>
                    <span class='sourcearea'></span>
                </div> -->
            </main>
            <nav v-if="displaymdl" class="property" style="padding-left: 20px">
                <nav id="module-property" class="sidebar">
                    <div class="sidebar-header">
                        <h4>Module Properties</h4>
                    </div>
                    <ul class="list-unstyled components">
                        <li style="padding-right: 12px;padding-left:12px; padding-bottom: 12px;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Name</span>
                                </div>
                                <input type="text" class="form-control" id="mdlName" v-model="mdlname" aria-label="Username" aria-describedby="basic-addon1" readonly="readonly">
                            </div>
                        </li>
                        <li style="padding-right: 12px;padding-left:12px; padding-bottom: 12px;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Image</span>
                                </div>
                                <input type="text" class="form-control" id="mdlImg" v-model="mdlimg" @change="mdlchange" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </li>
                        <li style="padding-right: 12px;padding-left:12px; padding-bottom: 12px;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="mdlStatus">Desired
                                        Status</label>
                                </div>
                                <select id="mdlStatus" v-model="mdlstatus" @change="mdlchange" class="custom-select">
                                    <option v-for="item in statuslist">{{ item }}</option>
                                </select>
                            </div>
                        </li>
                        <li style="padding-right: 12px;padding-left:12px; padding-bottom: 12px;">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="mdlPolicy">Restart Policy</label>
                                </div>
                                <select id="mdlPolicy" v-model="mdlpolicy" @change="mdlchange" class="custom-select">
                                    <option v-for="item in policylist">{{ item }}</option>
                                </select>
                            </div>
                        </li>
                        <li style="padding-right: 12px;padding-left:12px; padding-bottom: 12px;">
                            <label for="basic-url">Create Options</label>
                            <div class="input-group">
                                <textarea class="form-control" id="mdlCo" v-model="mdlco" @change="mdlchange" rows="3"></textarea>
                            </div>
                        </li>
                        <li style="padding-right: 12px;padding-left:12px; padding-bottom: 12px;">
                            <label for="basic-url">Module Twin</label>
                            <div class="input-group">
                                <textarea class="form-control" id="mdlMt" v-model="mdlmt" @change="mdlchange" rows="3"></textarea>
                            </div>
                        </li>
                    </ul>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="mdlsave" @click="mdlsave()">Save</button>
                        <button type="button" class="btn btn-primary" id="mdlsave" @click="mdldiscard()">Discard</button>
                    </div>
                </nav>
            </nav>
        </div>
    </div>

    <script type="text/javascript" src="{{root}}/assets/deployment/jquery.min.js"></script>
    <script type="text/javascript" src="{{root}}/assets/deployment/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{root}}/assets/deployment/jsPlumb.min.js"></script>
    <script type="text/javascript" src="{{root}}/assets/deployment/popper.min.js"></script>
    <script type="text/javascript" src="{{root}}/assets/deployment/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{root}}/assets/deployment/vue.min.js"></script>
    <script type="text/javascript" src="{{root}}/assets/deployment/bootstrap-vue.min.js"></script>
    <script type="text/javascript" src="{{root}}/assets/deployment/main.js"></script>
</body>

</html>