sudo: false
language: node_js
node_js:
- node
os:
- osx
- linux
before_install:
- if [ $TRAVIS_OS_NAME == "linux" ]; then export CXX="g++-4.9" CC="gcc-4.9" DISPLAY=:99.0;
  sh -e /etc/init.d/xvfb start; sleep 3; fi
install:
- npm install
- npm install -g vsce
script:
- npm run tslint
- echo "y" | vsce package
- npm test --silent
deploy:
- provider: releases
  skip_cleanup: true
  api_key: "$GIT_TOKEN"
  file_glob: true
  file: "*.vsix"
  on:
    tags: true
    condition: "$TRAVIS_OS_NAME == linux"
- provider: script
  skip_cleanup: true
  script: vsce publish -p $VSCE_TOKEN --packagePath *.vsix
  on:
    tags: true
    condition: "$TRAVIS_OS_NAME == linux && $TRAVIS_TAG =~ $ISPRODTAG"
env:
  global:
  - ISPRODTAG=^v?[0-9]+\.[0-9]+\.[0-9]+$
  - secure: iEJpIwbO0HFHquXwttrtubXVRHHo+58SG/6OIdSC71JzzauCfWYuPM3FeRjUGpIyfeaXq5seLGJkW9v3g746lLcnEhxVOqojvceynDjaGzePJVuYh6Syt9kpjQ2AfNC4IzXqeeBloNDakv8NXfLqkhTXLD6kTgoaQAejI/98tyGdQ6API44XYyTCf+7Bp+ST8ZfO+GEdBJ5QAEjCjjQ5BCAnyYqKw66QrcajIOa5kulbkU/iGh6EFjx4fBdZ23oAK3dDqgE/0cRgN8xjGL6LEGDP9oSlQ59VJdNiZ/ylWgsSr/P4D5nx/nRFDOLyQmPFWB/dVoaXo2NTogQ7Nu3Te0935uwYh9gNi834X705Xb2QkuWlyL0QWU4ghPPm5LhNVh0HlWlW4kJeAu1yU+DhebXIeKti6+XQ9Y/hCXGWgFcVbO1K3HPVqyJNzzsqbuN8hRYau4hhSoDGvY/wRrS9Z24K2JvTAuKlcd1N8e6P0Az0FyYZZlZagguLZ02W6qcCwnhrLrJU77mmBBe1vytP25o8H6fdOSzWzr6jvyn8jjAxq5sE+s4NQ18SzcMtBxtS+caSE3hsTrKHXy5HNnW1GNFsH4mTYj/OFhBGyl9g/RaTdi+7C7GImvMOx6eaB8KFCs3bo0LyEIIBpL8l7f0ycX4sy4nKkG5YK1MN9LkX/Ho=
  - secure: V/S7kNHru2x7UgGryIUz2mCi1Rnjfun/pwPSaFLuR0zaD+O+p1bsmQGbPnea4aWmXsqH4thffK0JRp+UbzQ/J8M4BRIRLradnjPldKmkS1JMC5OL+DMQ96zsaCNrz4DAsbZBwC/Sp54pVMNRdBXDE/N4oLaTr1TesaSGyG83q1hOpP3Bywb2peZGHunpdx1VNd/aAc/skY52ejuH9uvIaQ7+KqRl5eX83znQZAwdE6RYKqDN0OjweAURag2WdtOZ5F/tdF9dHNU/fAEe6F1FrtXAHD/Abv+oVMISj5x+PeVdIjXDBTOWg9tSsgMbWocE8uXb4EYxGdKTagKnrgxaEZS+CyHAsFw3Y2baZvE2vCIvpgSSSatwLgrOdVEqJs7aGIOWONMn8gJTldSJzIaA5E4cRCUGX/uDUDZYp6u2AfhnwHDgQ53N9uX66jcYDCQoUe190iIWUsKi1Q/cG+hgdL4NfQCA7YcibUBLVhDDeHGg0bIEMuTPqTrc+oa6nfZ9QgC8EjPBEd0wPg2zs6o3gNHII23act658tOxfYdZIGc27eWYzCcWmaeNkZ54bP3dOJAqBsV16cURy4K6A/akBPJjU8BhK0OdKL0y32mng6Le4pho3NqsPAWpXm8Dnyu219o47MFvalRdIckU8kCWwlDfUqfccU9j0ZyYC5uP2hc=
