.vscode/**
.vscode-test/**
out/test/**
test/**
testResources/**
src/**
images/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
.gitattributes
.travis.yml
appveyor.yml
CONTRIBUTING.md
package-lock.json
tslint.json
scripts/**
out/**
webpack.config.js
node_modules
iotedgehubdev
