<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{root}}/assets/marketplace/main.css">
    <link rel="stylesheet" href="./main.css">
</head>

<body class="vscode-dark">
    <div id="app" data-endpoint="{{endpoint}}">
        <div id="content">
            <div id="main-content">
                <header>
                    <div id="title-area">
                        <h1>You are importing modules from Marketplace</h1>
                        <input id="search-box" v-model="searchInput" placeholder="Search">
                    </div>
                </header>
                <div>
                    <div v-for="module in filteredModules" class="module" :class="{selected:selectedModule.id == module.id}"
                        v-on:click="showModule(module)">
                        <div class="image">
                            <img :src="module.iconUri">
                        </div>
                        <div class="title">{{ module.name }}</div>
                        <div class="description">{{ module.desc }}</div>
                    </div>
                </div>
            </div>
            <div id="module-detail" v-if="selectedModule.id">
                <div class="title"> {{ selectedModule.name }} </div>
                <div class="description">{{ selectedModule.desc }}</div>
                <div class="inputs">
                    <div class="input">
                        <label>Module Name: </label>
                        <input v-model="moduleName">
                    </div>
                    <div class="input"> 
                        <label>Tags: </label>
                        <select v-model="selectedTag">
                            <option v-for="tag in selectedModule.metadata.tagsOrDigests">{{ tag }}</option>
                        </select>
                    </div>
                </div>
                <div class="action">
                    By importing the {{ selectedModule.name }}, I agree to its <a href="">Term of Use</a> and <a href="">Privacy Policy</a>
                    <button v-on:click="selectedModule.id=''">Cancel</button>
                    <button v-on:click="importModule()">Import</button>
                </div>
            </div>
        </div>
        <div id="sidebar">
        </div>
    </div>
    <script type="text/javascript" src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{{root}}/assets/marketplace/main.js"></script>
    <script type="text/javascript" src="./main.js"></script>
</body>

</html>