<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{root}}/assets/marketplace/main.css">
    <link rel="stylesheet" href="./main.css">
</head>

<body class="vscode-dark">
    <div id="app" data-port="8009">
        <header>
            <div id="title-area">
                <h1>You are importing modules from Marketplace</h1>
                <input v-model="searchInput" placeholder="Search">
            </div>
        </header>
        <div id="content">
            <div id="main-content">
                <div>
                    <div v-for="module in filteredModules" class="module" v-on:click="showModule(module.id)">
                        <div class="module-img"><img src="https://vsciot-vscode.gallerycdn.vsassets.io/extensions/vsciot-vscode/azure-iot-toolkit/1.3.0/1535443919116/Microsoft.VisualStudio.Services.Icons.Default"></div>
                        <div class="module-title">{{ module.title }}</div>
                        <div class="module-description">{{ module.description }}</div>
                    </div>
                </div>
                <div id="module-detail" v-if="module.id">
                    {{ module.id }}<br/>
                    {{ module.name }}<br/>
                    {{ module.description }}<br/>
                    aaaaccccccccccccccccccccccccccccccccccccc<br/>
                    aaaaccccccccccccccccccccccccccccccccccccc<br/>
                    aaaaccccccccccccccccccccccccccccccccccccc<br/>
                    aaaaccccccccccccccccccccccccccccccccccccc<br/>
                    aaaaccccccccccccccccccccccccccccccccccccc<br/>
                    <input v-model="moduleName">
                    <button v-on:click="importModule()">Import</button>
                    <button v-on:click="module.id=''">Cancel</button>
                </div>
                <footer>

                </footer>
            </div>
            <div id="sidebar">
                aaaa
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
    <script type="text/javascript" src="{{root}}/assets/marketplace/main.js"></script>
    <script type="text/javascript" src="./main.js"></script>
</body>

</html>