* {
    box-sizing: border-box;
    font-family: "Segoe UI";
}

h1,
h2,
h3 {
    /* color: red; */
}

body {
    background: #1E1E1E;
    color: white;
}

html,body{height:100%;margin:0;padding:0}

#content {
    min-height:100%;
}

#title-area {
    position: relative;
}

#search-box {
    position: absolute;
    top: 10px;
    right: 80px;
}

#main-content {
    padding-left: 50px;
    width: 75%;
    min-height: 1px;
    float: left;
}

.module {
    float: left;
    background-color: white;
    width: 180px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-width: 5px;
    border-style: solid;
}

.module.selected {
    border-color: aquamarine;
}

.module-img img {
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.module-title {
    color: black;
    text-align: center;
}

.module-description {
    color: gray;
}

#module-detail {
    width: 75%;
    padding: 30px;
    background-color: #404040;
    color: white;
    position: absolute;
    bottom: 0;
}

#module-detail button {
    margin: 5px;
    float: right;
}

#sidebar {
    width: 25%;
    float: left;
    background-color: #404040;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    height: 1000px;
}