name: CI

on:
  push:
    branches:
      - master
    tags:
      - v*.*.*
  pull_request:
    branches:
      - master
      
jobs:
   vscode_azure_iot_edge_Stage_Linux:
    name: Linux
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install NodeJs
      uses: actions/setup-node@v1
      with:
       node-version: 16.x
    - name: Check if release require
      id: check-tag
      run: |
          echo ::set-output name=ISPRODTAG::v?[0-9]+\.[0-9]+\.[0-9]+$
          if [[ ${{ github.event.ref }} =~ ^refs/tags/v?[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
          echo ::set-output name=GITHUB_TAG::true
          fi
    - name: npm install
      run: |
         npm install
         sudo npm install -g vsce
    - name: npm Package
      run: |
         npm run tslint
         npm run compile
         node scripts/genAiKey.js
         echo "y" | vsce package
    - name: npm test
      run: xvfb-run --auto-servernum --server-args="-screen 0, 1024x768x24" npm test --silent
    - name: docker test
      run: docker run -t --rm -v $PWD:/mnt:ro dkhamsing/awesome_bot --white-list "gitter.im/Microsoft/vscode-azure-iot-edge" --allow-dupe --allow-redirect --skip-save-results `ls *.md`

    - name: GitHub Release
      if: |
           success() && (steps.check-tag.outputs.GITHUB_TAG == 'true')
      uses: softprops/action-gh-release@v1
      with:
          files: ./**/*.vsix   
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        tags: true

    - name: Publish to Marketplace
      if: |
           success() && (steps.check-tag.outputs.GITHUB_TAG == 'true')
      run: 'vsce publish -p ${{ secrets.VSCE_TOKEN }} --packagePath *.vsix'
      
   vscode_azure_iot_edge_Stage_MacOS:
    name: Mac-OS
    runs-on: macos-latest
    steps:
        - uses: actions/checkout@v2
        - name: Install NodeJs
          uses: actions/setup-node@v1
          with:
           node-version: 16.x
        - name: npm install
          run: |
             npm install
             sudo npm install -g vsce
        - name: npm Package
          run: |
             npm run tslint
             npm run compile
             node scripts/genAiKey.js
             echo "y" | vsce package
        - name: npm test
          run: npm test --silent
          